<mat-toolbar color="primary">
  LocalCast Weather
</mat-toolbar>

<div fxlayoutAlign="center">
  <div class="mat-caption vertical-margin" style="text-align: center;">Your city, your forecast, right now!</div>
</div>

<div fxLayoutAlign="center">
  <app-citysearch (searchEvent)="doSearch($event)"></app-citysearch>
</div>

<div fxLayout="row">
  <div fxFlex></div>
  <mat-card fxFlex="300px">
    <mat-card-header>
      <mat-card-title>
        <div class="mat-headline">Current Weather</div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-current-weather [current]="currentWeather"></app-current-weather>
    </mat-card-content>
  </mat-card>
  <div fxFlex></div>
</div>
<router-outlet></router-outlet>
<!-- 
<div style="text-align:center">
  <mat-toolbar color="primary">
    LocalCast Weather
  </mat-toolbar>
  <div>Your city, your forecast, right now!</div>
  <mat-card>
    <h2>Current Weather</h2>
    <app-current-weather></app-current-weather>
  </mat-card>
</div>
<router-outlet></router-outlet> -->